<!DOCTYPE html>
<html lang="en">
<head>
       
  <link rel="stylesheet" type= "text/css" href="/static/css.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <nav>
        <div class="nav">
            <input type="checkbox">
              <span></span>
              <span></span>
              <div class="menu">
                <li><a href="context.html">Context</a></li>
                <li><a href="url_link.html">URL</a></li>
                <li><a href="upload.html">Upload</a></li>
                <li><a href="QA.html">Q&A</a></li>
                
              </div>
          </div>
    </nav>
</head>
<body >
  <!-- <figure>
    <img src="samurai.png" height="150" width="90" style="opacity:0.1;">
    <figcaption><h1>
      Summary
    </h1></figcaption>
</figure>
     -->
</body>
</html>